:root {
    --amarelo: #ffe600;
    --azul-escuro: #1c1277;
    --bege: #b0a3a3;
    --branco: #FFFFFF;
    --vermelho: #d82222;
    --preto: #000000;

    --press-start-2p: 'Press Start 2P', cursive;
    --roboto: 'Roboto', sans-serif;
    --squada-one: 'Squada One', cursive;
}